.adminMenu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.adminBtn {
    background: #eee;
    border: 2px solid #f18684;
    border-radius: 15px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.adminBtn:hover {
    background: #f18684;
    color: white;
}

.adminBtn span {
    font-size: 50px;
    margin-bottom: 10px;
}