.adminMenu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.adminBtn {
    background: #eee;
    border: 2px solid #f18684;
    border-radius: 15px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.adminBtn:hover {
    background: #f18684;
    color: white;
}

.adminBtn span {
    font-size: 50px;
    margin-bottom: 10px;
}

.highlighted {
    background: #f18684;
    color: white;
}

/* 결과창 */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}
.admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 8px 5px;
    text-align: center;
    font-size: 14px;
    word-break: break-all;
}
.admin-table th {
    background-color: rgba(241, 134, 132, 0.2);
}

/* 열마다 적절한 비율 할당 */
.admin-table th:nth-child(1) { width: 80px; }  /* 주문번호 */
.admin-table th:nth-child(2) { width: auto; }  /* 주문내역 (가장 넓게) */
.admin-table th:nth-child(3) { width: 120px; } /* 총 금액 */
.admin-table th:nth-child(4) { width: 100px; } /* 상태 */
.admin-table th:nth-child(5) { width: 150px; } /* 주문시간 */
.text-left { text-align: left !important; }

/* 상태별 색상 표시 */
.status-결제완료 { color: blue; font-weight: bold; }
.status-주문취소 { color: red; font-weight: bold;}
.status-배달완료 { color: green; }