
ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* 카테고리 */
.categoryWrap {
    width: 800px;
    margin: 0 auto 40px;
}

.category {
    flex: 1;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;

    background: #fff3f3;
    border: 1px solid #f18684;
    border-radius: 30px;
    transition: all 0.5s;
}

.category:hover {
    background: #e53935;
    color: #fff3f3;
}

.category p {
    /* font-size: 24px; */
    font-weight: 700;
}

.highlighted {
    background: #e53935;
    color: #fff3f3;
}

/* 메뉴 리스트 */
.menuWrap {
    width: 100%;
}

.menu {
    width: 33%;
}

.info {
    padding: 10px;
    border-radius: 10px;
    background: rgba(241, 134, 132, 0.4);
    text-align: center;
}

.info img {
    border-radius: 7px;
    width: 100%;
    height: 300px;
}

