
ul {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/* 카테고리 */
.categoryWrap {
    width: 800px;
    margin: 0 auto 40px;
}

.categoryList {
	justify-content: center;
}

.category {
    flex: 1;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;

    background: #fff3f3;
    border: 1px solid #f18684;
    border-radius: 30px;
    transition: all 0.5s;
}

.category:hover {
    background: #e53935;
    color: #fff3f3;
}

.category p {
    /* font-size: 24px; */
    font-weight: 700;
}

.highlighted {
    background: #e53935;
    color: #fff3f3;
}

/* 메뉴 리스트 */
.menuWrap {
    width: 100%;
    display: flex;
}

.menuList {
	width: 100%;
}

.menu {
    width: calc(33.33% - (10px));
    box-sizing: border-box;
    justify-content: flex-start;
}

.info {
    padding: 10px;
    border-radius: 10px;
    background: rgba(241, 134, 132, 0.5);
    text-align: center;
    cursor: pointer;
}

.info img {
    border-radius: 7px;
    width: 100%;
    height: 300px;
}

/* 모달 */

#modalWrap {
    position: absolute;
    top: 0;
    left: 0;
}

#modalBack {
    width: 100%;
    height: 100vh;
    background: #aaa;
    position: fixed;
    opacity: 0.6;
}

#modalContent {
    width: 500px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

.content {
    padding: 20px;
    
}

.menuName {
    text-align: center;
    margin-bottom: 15px;
}

.info p {
    
    text-align: center;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.close span {
    font-size: 30px;
}

.hide {
    display: none;
}