

h2 {
    color: #d35400;
    margin-bottom: 20px;
}

.menu-buttons button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menu-buttons button:hover {
    background-color: #d35400;
}

.cart-item {
    background-color: #fff3e0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 200px;
    margin: 5px auto;
    text-align: center;
}
#main{
    text-align: center;
}