#main {
    text-align: center;
    padding: 20px;
}

.menuWrap {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    flex-wrap: wrap;       /* 한 줄에 3개씩 */
    justify-content: center;
    gap: 20px;             /* 카드 간 간격 */
    list-style: none;
    padding: 0;
}

.menu {
    width: 250px;
}

.info {
    background-color: rgba(241, 134, 132, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.info:hover {
    background-color: rgba(241, 134, 132, 0.8);
}

.info img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info p {
    font-weight: bold;
    margin: 0;
}

.cartSection {
    margin-top: 30px;
}

#cartList {
    margin: 10px 0;
}

#totalPrice {
    font-weight: bold;
}

#orderBtn {
    padding: 10px 20px;
    background-color: rgba(219, 113, 111, 0.8);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#orderBtn:hover {
    background-color: rgba(219, 113, 111, 0.8);
}